/* You can add global styles to this file, and also import other style files */

.custom-input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(30, 30, 30, 0.2);  
}

.todo-container {
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background: #F5F5F5;
  color: #fff;
  border-radius: 6px;
}
