/* You can add global styles to this file, and also import other style files */

.custom-input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
